@using System.Data
@{

}


<style>
    .ui-datepicker-calendar {
        display: none;
    }

    .ui-datepicker-month {
        display: none;
    }

    .ui-datepicker-next, .ui-datepicker-prev {
        display: none;
    }
</style>
<h3>@ViewBag.Title</h3>
<div>
    @using (Html.BeginForm("List", "HrMgr", FormMethod.Post))
    {
        <div class="row">
            <label>年:<input type="text" id="year" name="year" value="@ViewBag.y" autocomplete="off" style="width:60px;text-align:right;font-size:14px;" /></label>
            <input type="submit" value="查詢" onclick="doclick();" />
            <input type="button" value="儲存" onclick="dosave();" />
        </div>
    }
    <div id="tbdivContainer">
        <div id="tbdiv">
        </div>
    </div>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
</div>
<script src="~/Scripts/jquery.blockUI.js"></script>

<link href="~/Scripts/tabulator-master/dist/css/tabulator.min.css" rel="stylesheet" />
<script src="~/Scripts/tabulator-master/dist/js/tabulator.min.js"></script>
@section Scripts
{
    <script type="text/javascript">
        //https://stackoverflow.com/questions/34676752/can-i-use-an-html-input-type-date-to-collect-only-a-year
        function doclick() {
            $.blockUI({ message: '<h2>資料處理中...</h2>' });
            return true;
        }

        function dosave()
        {
            var o = $('#tbdiv').tabulator('getRows');
            var list = [];
            for (var i = 0; i < o.length; i++)
            {
                list.push(o[i].row.data);
            }
            $.blockUI({ message: '<h2>資料儲存中...</h2>' });

            let promise =
                $.ajax({
                    url: "@Url.Action("SaveList", "HrMgr")",
                    method: "post",
                    contentType: 'application/json',
                    data: JSON.stringify({ year: $('#year').val(),data:list})
                });
            promise.done(function (data)
            {
                //顯示Server端回傳的資料
                console.log(data);
                $.unblockUI();
                if (data.success) {
                    alert('儲存完成');
                }
            });

        }

        $(function () {
            $('#year').datepicker({
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'yy',
                onClose: function (dateText, inst) {
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, 1));
                }
            });
            $(".date-picker-year").focus(function () {
                $(".ui-datepicker-month").hide();
            });
        })


        var data = [];

        @if (ViewBag.tb != null)
        {
            DataTable tb = (DataTable)ViewBag.tb;

            foreach(DataRow r in tb.Rows)
            {
                @:obj = {};
                foreach(DataColumn col in tb.Columns)
                {
                    @:obj["@col.ColumnName"] = "@r[col.ColumnName].ToString()";
                }
                @:data.push(obj);
            }

            @:console.log(data);
        }
        $("#tbdivContainer").css('left', '0px');
        $("#tbdivContainer").css('right', '10px');
        $("#tbdivContainer").css('position', 'relative');
        $("#tbdivContainer").css('display', 'block');
        $("#tbdivContainer").css('overflow', 'auto').css('width', '90%');

        $("#tbdiv").tabulator({
            height: "auto",
            pagination: "local",
            paginationSize: 40,
            //layout: "fitColumns",
            columns: [
                { title: '工號', field: 'workNo' },
                { title: '姓名', field: 'cName' },
                { title: '上年度轉入', field: 'm0a', editor: 'input', editor: true, validator: ["min:0", "numeric"] },
                { title: '1月前期轉入', field: 'm1a', editor: 'input', editor: true, validator: ["min:0", "numeric"] },
                { title: '本期新增', field: 'm1b'},
                { title: '2月前期轉入', field: 'm2a', editor: 'input', editor: true, validator: ["min:0", "numeric"] },
                { title: '本期新增', field: 'm2b'},
                { title: '3月前期轉入', field: 'm3b', editor: 'input', editor: true, validator: ["min:0", "numeric"] },
                { title: '本期新增', field: 'm3b'},
                { title: '4月前期轉入', field: 'm4a', editor: 'input', editor: true, validator: ["min:0", "numeric"] },
                { title: '本期新增', field: 'm4b'},
                { title: '5月前期轉入', field: 'm5a', editor: 'input', editor: true, validator: ["min:0", "numeric"] },
                { title: '本期新增', field: 'm5b'},
                { title: '6月前期轉入', field: 'm6a', editor: 'input', editor: true, validator: ["min:0", "numeric"] },
                { title: '本期新增', field: 'm6b'},
                { title: '7月前期轉入', field: 'm7a', editor: 'input', editor: true, validator: ["min:0", "numeric"] },
                { title: '本期新增', field: 'm7b'},
                { title: '8月前期轉入', field: 'm8a', editor: 'input', editor: true, validator: ["min:0", "numeric"] },
                { title: '本期新增', field: 'm8b'},
                { title: '9月前期轉入', field: 'm9a', editor: 'input', editor: true, validator: ["min:0", "numeric"] },
                { title: '本期新增', field: 'm9b'},
                { title: '10月前期轉入', field: 'm10a', editor: 'input', editor: true, validator: ["min:0", "numeric"] },
                { title: '本期新增', field: 'm10b'},
                { title: '11月前期轉入', field: 'm11a', editor: 'input', editor: true, validator: ["min:0", "numeric"] },
                { title: '本期新增', field: 'm11b'},
                { title: '12月前期轉入', field: 'm12a', editor: 'input', editor: true, validator: ["min:0", "numeric"] },
                { title: '本期新增', field: 'm12b'}
            ],
            data: data
        });
        $('#tbdiv').css('width', '95%');

    </script>
}