@model IEnumerable<eform.Models.vwFlowSub>
@using eform.Models
@{
    ViewBag.Title = "";
    //vwReqOverTime subModel = (vwReqOverTime)ViewBag.SubModel;
    FlowMain flowMain = (FlowMain)ViewBag.flowMain;
    vwEmployee employee = (vwEmployee)ViewBag.Employee;
}

<style>
    textarea {
        max-width: 1200px;
    }
</style>

<div class="row">
    <div class="col-md-10">
        <div class="box">
            <div class="box-header text-center">
                <div class="box-title">
                    <h3><span class="label label-default">@employee.Company</span></h3>
                    <h3><span class="label label-info">@flowMain.flowName-簽核</span></h3>
                </div>
            </div>
            @if (ViewBag.FlowPageType == "")
                {
                <div class="box-body">
                    @using (Html.BeginForm("SignIt", "FormMgr", FormMethod.Post, new { id = "fmMain" }))
                    {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal col-md-10">
                        <div class="form-group">
                            <label class="control-label col-md-2">簽核: </label>
                            <input type="hidden" name="hid" value="@flowMain.id" />
                            <div class="col-md-10">
                                <input type="radio" name="signValue" value="1" checked="checked" />同意
                                &nbsp;&nbsp;&nbsp;
                                <input type="radio" name="signValue" value="2" />不同意
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">簽核意見: </label>
                            <div class="col-md-10">
                                <textarea rows="3" class="col-md-10" name="signMemo"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 text-center">
                                <button type="submit" class="btn btn-primary">送出</button>
                            </div>
                        </div>
                    </div>
                    }

                </div>
                }
            <div class="box-footer">
                <a href="@Url.Action("Index")" class="btn btn-default">返回表單清單</a>
            </div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="box">
            @if (flowMain.defId == "OverTime")
            {
                @Html.Partial("Form/_OverTimeForm", (vwReqOverTime)ViewBag.SubModel)
            }

            @if (flowMain.defId == "DayOff")
            {
                @Html.Partial("Form/_DayOffForm", (vwDayOffForm)ViewBag.SubModel)
            }
        </div>
    </div>
    <div class="col-md-10">
        <div class="box">
            <div class="box-header">
                <h3><span class="label label-success">簽核清單</span></h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.seq)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.signDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.signer)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.signType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.signResult)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.comment)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.seq)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.signDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.signer)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.signType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.signResult)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.comment)
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="box-footer">
                <a href="@Url.Action("Index")" class="btn btn-default">返回表單清單</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        var msg = "";
        @if(TempData["error"]!=null)
        {
            @:msg = "@TempData["error"]";
            @:alert(msg);
        }
    })


</script>
