@model IEnumerable<eform.Models.vwFlowMain>

@{
    ViewBag.Title = "所有表單紀錄";
}

<div class="row">
    <div class="col-md-10">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    <h3><span class="label label-success">@ViewBag.Title</span></h3>
                </div>
            </div>
            <div class="box-header">
                <p>
                    @Html.DropDownList("status", (IEnumerable<SelectListItem>)ViewBag.SignResultItems)
                    <button type="button" class="btn btn-primary" id="btnQuery">查詢</button>
                </p>
            </div>
            <div class="box-body>">
                <table class="table table-bordered table-hover table-striped">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.sender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.billDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.flowName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.flowStatus)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.sender)
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.billDate)*@
                                @{
                                    DateTime billdate = Convert.ToDateTime(item.billDate.ToString());
                                }
                                @billdate.ToString("yyyy-MM-dd HH:mm:ss")


                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.flowName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.flowStatus)
                            </td>
                            <td>
                                <a href="@Url.Action("Details",new {id=item.id,FlowPageType="Query"})" class="btn btn-info">表單明細</a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    $(function(){
        $('#btnQuery').click(function(){
            var url = "@Url.Action("ListAll", new { status = "xxx" })";
            url = url.replace("xxx", $('#status').val());
            window.location = url;
        });

    });
    </script>
}