@model eform.Models.vwPrjForumUser

@{
    Layout = "~/Views/Shared/_PrjLayout.cshtml";
}

<h2>新增專案成員</h2>
<div class="section">
    <div class="row col-md-8">
        <div class="box">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <br/>
                    <br />
                    <div class="form-group">
                        @Html.HiddenFor(model => model.pid)
                        @Html.LabelFor(model => model.WorkNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.WorkNo,new List<SelectListItem>(), new {@class = "form-control select2"} )
                            @Html.ValidationMessageFor(model => model.WorkNo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="儲存" class="btn btn-primary" />
                            <a href="@Url.Action("ForumUserList", "Prj", new { id = Model.pid })" class="btn btn-default">取消</a>
                        </div>
                    </div>
                    <br/>
                    <br />
                </div>
            }
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        var userlist = @Html.Raw((ViewBag.userlist));
        function formatSelection(repo) {
            return repo.id + "-" + repo.text;
        }
        $("#WorkNo").select2({ data: userlist, templateSelection: formatSelection });

    </script>

}