@model IEnumerable<eform.Models.FlowDefMain>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            <a href="@Url.Action("SetupFlow",new { id=item.id })" class="btn btn-success"><i class="fa fa-pencil-square"></i>簽核設定</a>
            @*@Html.ActionLink("Delete", "Delete", new { id=item.id })*@
        </td>
    </tr>
}

</table>
