@using eform.Models
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity


@{
    string UserName = "guest";
    bool isAdmin = false;
    List<permission> permList = new List<permission>();
    if (Request.IsAuthenticated)
    {
        isAdmin = User.IsInRole("Admin");
        var context = new ApplicationDbContext();
        var store = new UserStore<ApplicationUser>(context);
        ApplicationUserManager mgr = new ApplicationUserManager(store);
        string id = User.Identity.GetUserId();
        var user = mgr.FindById(id);
        if (user != null)
        {
            UserName = User.Identity.Name + " " + user.cName;
            permList = context.permList.Where(x => x.workNo == user.workNo).ToList<permission>();
        }
    }

}

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel" style="padding-bottom:30px;">
            <div class="pull-left image" style="display:none;width:0;">
                @*<img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">*@
                @*<img src="https://randomuser.me/api/portraits/men/9.jpg" class="img-circle" alt="User Image">*@
            </div>
            <div class="pull-left info" style="left:20px;">
                <p>@UserName</p>
                <!-- Status -->
                @*<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    <a href="#"><i class="fa fa-circle text-red"></i> Offline</a>*@
            </div>
        </div>
        <!-- search form (Optional) -->
        @*<form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>*@
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            @if (Request.IsAuthenticated)
            {
                <li class="header">功能選單</li>
                <li class="active">
                    <a href="@Url.Action("Index", "Home", null)"><i class="fa fa-home"></i><span>首頁公告</span></a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-desktop"></i><span>個人工作區</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-list-alt"></i>表單申請
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="@Url.Action("CreateOverTimeForm", "Form", null)">
                                        <i class="fa fa-pencil-square-o"></i>加班預填單
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("RealOverTimeForm", "Form", null)">
                                        <i class="fa fa-pencil-square"></i>加班單
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CreateDayOffForm", "Form", null)">
                                        <i class="fa fa-pencil-square-o"></i>請假單
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Form", null)">
                                <i class="fa fa-list"></i>表單紀錄
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ChangeMyPassword", "Employee", null)">
                                <i class="fa fa-key"></i>修改個人密碼
                            </a>
                        </li>
                    </ul>
                </li>
                <!--薪資查詢區-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-money"></i> <span>薪資查詢區</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action("Index", "Salary", null)" hrefa="#">
                                <i class="fa fa-circle-o"></i>個人薪資查詢
                            </a>
                        </li>
                        @if (permList.Where(x => x.mod == "ReportSalary").Count() > 0)
                        {
                            <li>
                                <a href="@Url.Action("All", "Salary", null)" hrefa="#">
                                    <i class="fa fa-key"></i>薪資查詢(管理權限)
                                </a>
                            </li>
                        }
                        @if (permList.Where(x => x.mod == "ReportUpload").Count() > 0)
                        {
                            <li>
                                <a href="@Url.Action("Upload", "Salary", null)" hrefa="#">
                                    <i class="fa fa-key"></i>薪資檔案上傳(管理權限)
                                </a>
                            </li>
                        }
                    </ul>
                </li>

                <!--專案管理區-->
                <li>
                    <a href="@Url.Action("Index","Prj")">
                        <i class="fa fa-calendar"></i> <span>專案管理區</span>
                    </a>
                </li>
                
                <!--主管管理區-->
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users"></i> <span>主管管理區</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            <a href="@Url.Action("Index", "FormMgr", null)" hrefa="#">
                                <i class="fa fa-circle-o"></i>待簽核表單
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Query", "FormMgr", null)" hrefa="#">
                                <i class="fa fa-circle-o"></i>查詢表單
                            </a>
                        </li>
                        @if (permList.Where(x => x.mod == "HRImportDayOff").Count() > 0)
                        {
                            <li>
                                <a href="@Url.Action("List", "HrMgr", new { y = DateTime.Today.Year })" hrefa="#">
                                    <i class="fa fa-list"></i>人資主管特休補修登錄
                                </a>
                            </li>
                        }
                    </ul>
                </li>

                <!--系統管理區-->
                if (isAdmin)
                {
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-gears"></i> <span>系統管理</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@Url.Action("All", "Perm")">
                                    <i class="fa fa-key"></i>權限管理
                                    @*<span class="pull-right-container">
                                            <i class="fa fa-angle-left pull-right"></i>
                                        </span>*@
                                </a>
                                @*<ul class="treeview-menu">
                                        <li>
                                            <a href="@Url.Action("Index", "Perm",new {mod="ReportSalary"})">
                                                <i class="fa fa-circle-o"></i>薪資查詢主管權限
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Perm",new {mod="ReportUpload"})">
                                                <i class="fa fa-circle-o"></i>薪資檔上傳主管權限
                                            </a>
                                        </li>
                                    </ul>*@
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-th-list"></i>部門管理
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="@Url.Action("Gm", "Dep")">
                                            <i class="fa fa-circle-o"></i>總經理室設定
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Dep", new { depLevel = 1 })">
                                            <i class="fa fa-circle-o"></i>處級管理
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Dep", new { depLevel = 2 })">
                                            <i class="fa fa-circle-o"></i>部門管理
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Dep", new { depLevel = 3 })">
                                            <i class="fa fa-circle-o"></i>課別管理
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Employee", null)">
                                    <i class="fa fa-user-plus"></i>員工
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "NewsMgr", null)">
                                    <i class="fa fa-newspaper-o"></i>公告管理
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Index", "FlowDef", null)">
                                    <i class="fa fa-book"></i>表單設定
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("ListAll", "FormMgr", null)">
                                    <i class="fa fa-book"></i>表單查詢
                                </a>
                            </li>
                        </ul>
                    </li>
                }


                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                {
                    @Html.AntiForgeryToken()
                }
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fa fa-sign-out"></i> <span>登出</span>
                    </a>
                </li>
            }
            else
            {
                //https://stackoverflow.com/questions/21413596/razor-if-else-inside-a-for-loop-the-for-block-is-missing-a-closing-charac
                @:
                <li><a href='@Url.Action("Login", "Account")'><i class="fa fa-sign-in"></i> <span>登入</span></a></li>
            }
        </ul>

        }
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>