@model eform.Models.vwSchItemList

@{
    ViewBag.Title = "ItemList";
    Layout = "~/Views/Shared/_PrjLayout.cshtml";
}

<h2>專案甘特圖工作項目設定</h2>

<div class="row col-md-10">
    <div class="box box-primary">
        <div class="box-header">
            <label>專案編號：</label>@Model.prj.code &nbsp; &nbsp; <label>專案名稱：</label>@Model.prj.nm
        </div>

        <div class="box-header">
            <p>
                <a href="@Url.Action("PmPrjList","PrjMgr")" class="btn btn-default"><i class="fa fa-list-ul"></i>返回專案清單</a>
                <a href="@Url.Action("CreateSchItem","PrjMgr",new {prjId=Model.prj.id})" class="btn btn-primary"><i class="fa fa-plus"></i>新增項目</a>
                <a href="@Url.Action("SelTemplate","PrjMgr",new {prjId=Model.prj.id})" class="btn btn-info"><i class="fa fa-search-plus"></i>匯入模板項目</a>
                @*<a href="@Url.Action("TimeGrid","PrjMgr",new {prjId=Model.prj.id})" class="btn btn-success"><i class="fa fa-li"></i>甘特圖管理</a>*@
            </p>
            
        </div>

        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>
                    序號
                </th>
                <th>
                    工作項目
                </th>
                <th>
                    開始日期
                </th>
                <th>
                    結束日期
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.itemList)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => item.id) 
                        @Html.DisplayFor(modelItem => item.seq)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.itemTxt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dtBeginStr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dtEndStr)
                    </td>
                    <td>
                        <a href="@Url.Action("EditSchItem","PrjMgr",new {prjId=Model.prj.id,itemId=item.id})" class="btn btn-default"><i class="fa fa-pencil"></i>編輯</a>
                        <a href="@Url.Action("RemoveSchItem", "PrjMgr", new { prjId = Model.prj.id, itemId = item.id })" class="btn btn-danger" onclick="return doDelete(); return false;"><i class="fa fa-minus"></i>刪除</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts{
    <script>
        function doDelete()
        {
            if (confirm("確定刪除?"))
            {
                $.blockUI({ message: '<h2>處理中...</h2>' });
                return true;
            }
            return false;
        }
        $(function () {


        })
    </script>

}
