@model eform.Models.vwReqOverTime
@using Newtonsoft.Json;
@using eform.Models;
@{
    ViewBag.Title = "申請加班單";
}
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datetimepicker.min.css" />
<div class="row">
    <div class="col-md-10">
        <div class="box">
            <div class="box-header">
                <div class="box-title">
                    <h3><span class="label label-success">加班單申請</span></h3>
                </div>
            </div>
            <div class="box-body>">
                @using (Html.BeginForm("CreateOverTimeForm", "Form", FormMethod.Post, new { id = "fmMain" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal col-md-10">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label class="control-label col-md-2">申請人</label>
                            <div class="col-md-4">
                                <div class="form-control">@ViewBag.UserName</div>
                                <input type="hidden" name="worker" value="@ViewBag.UserName" />
                            </div>
                            @Html.LabelFor(model => model.billDate, htmlAttributes: new { @class = "control-label col-md-2"})
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.billDate, new { htmlAttributes = new { @class = "form-control", type = "date", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.billDate, "", new { @class = "text-danger," })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.dtBegin, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class='input-group date' id='datetimepicker1'
                                     data-date-format="HH:mm"
                                 >
                                    @Html.EditorFor(model => model.dtBegin, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                    @Html.ValidationMessageFor(model => model.dtBegin, "", new { @class = "text-danger" })
                                </div>
                            @Html.LabelFor(model => model.dtEnd, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @*@Html.EditorFor(model => model.dtEnd, new { htmlAttributes = new { @class = "form-control", type = "datetime-local" } })*@
                                <div class='input-group date' id='datetimepicker2'
                                     data-date-format="HH:mm"
                                >
                                    @Html.EditorFor(model => model.dtEnd, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                    @Html.ValidationMessageFor(model => model.dtEnd, "", new { @class = "text-danger" })
                                </div>
                        </div>

                        @*<div class="form-group">

                                @Html.LabelFor(model => model.hours, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.hours, new { htmlAttributes = new { @class = "form-control",type="number" } })
                                    @Html.ValidationMessageFor(model => model.hours, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="form-group">
                            @Html.LabelFor(model => model.depNo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model=>model.depNo,new List<SelectListItem>(),new {@class="form-control"})
                                @*<select id="cboDepList" name="edDep" class="form-control"></select>*@
                                @Html.ValidationMessageFor(model => model.depNo, "", new { @class = "text-danger" })
                            </div>
                            @Html.LabelFor(model => model.poNo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.poNo, new List<SelectListItem>(), new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.sType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.RadioButtonFor(model => model.sType, "平日", new { @class = "checkbox-inline" })
                                平日
                                @Html.RadioButtonFor(model => model.sType, "假日", new { @class = "checkbox-inline" })
                                假日
                            </div>
                            @Html.LabelFor(model => model.place, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                <div style="float:left;">
                                    @Html.DropDownListFor(model => model.place, ViewBag.placelist as IEnumerable<SelectListItem>, new { @class = "form-control", style = "float: left;width: 220px;" })
                                    @Html.TextBoxFor(model => model.otherPlace, new { @class = "form-control", style = "width:130px;float:left;margin-left:5px;" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.prjId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.TextBoxFor(model => model.prjId, new { @class = "form-control", style = "width:630px;" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.sMemo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10" style="margin-bottom:10px;">
                                @Html.TextAreaFor(model => model.sMemo, htmlAttributes: new { @class = "form-control", rows = "2", style = "width:630px;" })
                            </div>
                            <br />
                            @Html.LabelFor(model => model.sMemo2, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.sMemo2, htmlAttributes: new { @class = "form-control", rows = "2", style = "width:630px;" })
                                <span style="color:brown;font-size:12px;margin-top:0px;">有使用水電氣需求者必填</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 text-center">
                                <input type="submit" value="送出" class="btn-lg btn-primary" onclick="return doSubmit();" />
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")    
<script type="text/javascript" src="~/Scripts/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        function doSubmit() {
            var dtend = new Date($('#dtEnd').val()).getTime();
            var dtbegin = new Date($('#dtBegin').val()).getTime();
            //if ((dtend - dtbegin) < 0) {
            //    toastr["error"]("結束時間不得小於開始時間", "Error");
            //    return false;
            //}
            return true;
        }
        $(function () {
            var pickerOption = {
                format: 'YYYY-MM-DD HH:mm:ss',
                locale:'zh-tw',
                defaultDate: getLocalDateTimeStr()
            };
            $('#datetimepicker1').datetimepicker(pickerOption);
            $('#datetimepicker2').datetimepicker(pickerOption);

            $('textarea').css('max-width', '700px');
            $('#prjId').css('max-width', '700px');

            if ($($('.validation-summary-errors')[0]).text() == "")
            {
                $('#billDate').val(getLocalDateStr());
                //$('#dtBegin').val(getLocalDateTimeStr());
                //$('#dtEnd').val(getLocalDateTimeStr());
            }

            var depList = @Html.Raw(JsonConvert.SerializeObject(ViewBag.depList));
            var poList = @Html.Raw(JsonConvert.SerializeObject(ViewBag.poList));
            var cboDepList = $('#depNo');
            var cboPoList = $('#poNo');
            $(cboDepList).append(
                $('<option></option>').val("").html("選擇部門")
            );
            $(cboPoList).append(
                $('<option></option>').val("").html("選擇職稱")
            );
            $.each(depList, function (val, obj) {
                $(cboDepList).append(
                    $('<option></option>').val(obj.depNo).html(obj.depNm)
                );
            });
            $(cboDepList).on("change", function (e) {
                var depV = this.value;
                $('#poNo option').remove();
                $(cboPoList).append(
                    $('<option></option>').val("").html("選擇職稱")
                );
                if (depV != "0") {
                    $.each(poList, function (val, obj) {
                        if (obj.depNo == depV) {
                            $(cboPoList).append(
                                $('<option></option>').val(obj.poNo).html(obj.poNm)
                            );
                        }
                    });
                }
            });
        });
    </script>
}
