@model eform.Models.vwRealOverTime
@using Newtonsoft.Json;
@using eform.Models;
@{
    ViewBag.Title = "加班申請單";
    List<vwRealOverTime> historyList = (List<vwRealOverTime>)ViewBag.historyList;
}
<style>
    span, label, button, th {
        font-family: 微軟正黑體;
    }

    th {
        text-align: center;
    }
</style>
<div class="row">
    <div class="col-md-10">
        <div class="box">
            <div class="box-header text-center">
                <div class="box-title ">
                    <h3><span class="label label-info">@ViewBag.Title</span></h3>
                    <h3><span class="" style="font-weight:bold;">@Model.user.Company</span></h3>
                    <h5><label>工號：</label>@Model.user.workNo<label style="margin-left:10px;">到職日：</label>@Model.user.sBeginWorkDate</h5>
                </div>
            </div>
            <div class="box-body>">
                @using (Html.BeginForm("RealOverTimeForm", "Form", FormMethod.Post, new { id = "fmMain" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal col-md-10">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger", style = "font-size:15px;font-weight:bold;" })

                        <div class="form-group">
                            <label class="control-label col-md-2">申請人</label>
                            <div class="col-md-4">
                                <div class="form-control">@Model.user.workNo-@Model.user.UserCName</div>
                                <input type="hidden" name="worker" value="@Model.user.workNo" />
                            </div>
                            @Html.LabelFor(model => model.billDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.billDate, new { htmlAttributes = new { @class = "form-control", type = "date", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.billDate, "", new { @class = "text-danger," })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.dtBegin, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <div class='input-group date' id='datetimepicker1'>
                                    @Html.EditorFor(model => model.dtBegin, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1">
                                @Html.DropDownListFor(model => model.beginHH, (SelectList)ViewBag.beginHHList, new { @class = "form-control", style = "width:70px;" })
                            </div>
                            <label class="control-label col-md-1">時</label>
                            <div class="col-md-1">
                                @Html.DropDownListFor(model => model.beginMM, (SelectList)ViewBag.beginMMList, new { @class = "form-control", style = "width:70px;" })
                            </div>
                            <label class="control-label col-md-1">分</label>
                            @Html.ValidationMessageFor(model => model.dtBegin, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.dtEnd, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                <div class='input-group date' id='datetimepicker2'>
                                    @Html.EditorFor(model => model.dtEnd, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-1">
                                @Html.DropDownListFor(model => model.endHH, (SelectList)ViewBag.endHHList, new { @class = "form-control", style = "width:70px;" })
                            </div>
                            <label class="control-label col-md-1">時</label>
                            <div class="col-md-1">
                                @Html.DropDownListFor(model => model.endMM, (SelectList)ViewBag.endMMList, new { @class = "form-control", style = "width:70px;" })
                            </div>
                            <label class="control-label col-md-1">分</label>
                            @Html.ValidationMessageFor(model => model.dtEnd, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.hours, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.hours, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.5" } })
                                @Html.ValidationMessageFor(model => model.hours, "", new { @class = "text-danger" })
                            </div>
                            @*@Html.LabelFor(model => model.prjId, htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-4" style="display:none;">
                                @Html.TextBoxFor(model => model.prjId, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.sMemo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.sMemo, new { @class = "form-control", style = "width:630px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.sMemo2, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.sMemo2, htmlAttributes: new { @class = "form-control", rows = "2", style = "width:630px;" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">申請程序說明</label>
                            <div class="col-md-10 col-md-offset-1" style="margin-top:-20px;margin-left:120px;padding:2px;color:#3664bc;font-family:微軟正黑體;font-size:15px;font-weight:700;line-height:25px;">
                                <ol>
                                    <li>
                                        加班應於加班日前一天提出申請。如屬緊急事務必須加班，而無法事前提出申請，應於一星期內完成申請程序。
                                    </li>
                                    <li>
                                        加班事由及加班時間請詳實填註。加班以小時為計算單位，未滿一小時部分不計。每人每日加班時數不得超過4小時，假日以8小時為限。
                                    </li>
                                    <li>
                                        申請單完成後請送人事登錄留存，用作日後申請補假證明。
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 text-center">
                                <input type="submit" value="送出" class="btn-lg btn-primary" onclick="return doSubmit();" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box-footer">
            </div>
            <div class="box">
                <div class="box-title text-center">
                    <h3><span class="label label-success">加班歷史紀錄</span></h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <th>
                                開始時間
                            </th>
                            <th>
                                結束時間
                            </th>
                            <th>
                                加班事由
                            </th>
                            <th>
                                小時數
                            </th>
                            <th>
                                專案號碼
                            </th>
                            <th>
                                簽核狀態
                            </th>
                        </tr>
                        @if (historyList != null)
                        {
                            foreach (var item in historyList)
                            {
                                //var dayoff = dayOffList.Where(x => x.flowId == flow.id).FirstOrDefault();
                                <tr>
                                    <td>
                                        @Convert.ToDateTime(item.dtBegin).ToString("yyyy-MM-dd HH:mm")
                                    </td>
                                    <td>
                                        @Convert.ToDateTime(item.dtEnd).ToString("yyyy-MM-dd HH:mm")
                                    </td>
                                    <td>
                                        @item.sMemo
                                    </td>
                                    <td style="text-align:right;">
                                        @item.hours.ToString("#0.0")
                                    </td>
                                    <td>
                                        @item.prjId
                                    </td>
                                    <td style="text-align:center;">
                                        @item.sflowStatus
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function doSubmit() {
            //alert("系統開發中...");
            return true;
        }
        $(function () {
            var pickerOption = {
                format: 'YYYY-MM-DD',
                locale: 'zh-tw',
                defaultDate: getLocalDateStr()
            };
            $('#datetimepicker1').datetimepicker(pickerOption);
            $('#datetimepicker2').datetimepicker(pickerOption);

            $('textarea').css('max-width', '700px');
            $('input[type=text]').css('max-width', '700px');

            if ($($('.validation-summary-errors')[0]).text() == "") {
                $('#billDate').val(getLocalDateStr());
            }

            return;

            var prjIdList = [];
            var sMemoList = [];

            $("#prjId").select2({
                data: prjIdList,
                placeholder: '選擇專案號碼',
                "language": {
                    "noResults": function () {
                        return "無專案號碼可供選擇";
                    }
                }
            });
            $("#sMemo").select2({
                data: sMemoList,
                placeholder: '加班事由',
                "language": {
                    "noResults": function () {
                        return "請設定加班事由選擇清單";
                    }
                },
            });

        });
    </script>
}
